In [1]:
import pandas as pd
import numpy as np

In [2]:
june = pd.read_csv('aggyellow_tripdata_2016-06.csv', parse_dates=True, index_col=0)

In [9]:
may_data = pd.read_csv('aggyellow_tripdata_2016-05.csv', parse_dates=True, index_col=0)

In [13]:
may = may_data.truncate(after=pd.Timestamp('2016-05-31 23:00:00')).mean(axis=0)
indexes = may[may < 5].index
may_data.drop(columns=indexes, inplace=True)

In [24]:
with open('regions.txt', 'w') as f:
    for reg in may_data.columns.values:
        f.write(reg + '\n')

In [27]:
june.drop(columns=indexes, inplace=True)

In [28]:
june.to_csv('june_clear.csv')

In [29]:
june_clear = pd.read_csv('june_clear.csv', index_col=0, parse_dates=True)

In [30]:
june_clear

,1075,1076,1077,1125,1126,1127,1128,1129,1130,1131,...,1630,1684,1733,1734,1783,2068,2069,2118,2119,2168
2016-06-01 00:00:00,26,30,19,39,71,163,181,219,326,56,...,1,1,6,262,107,114,7,169,6,85
2016-06-01 01:00:00,14,21,6,26,49,101,136,144,252,27,...,5,0,0,137,1,27,16,105,4,42
2016-06-01 02:00:00,5,25,4,18,25,42,74,123,245,30,...,8,0,1,25,0,11,0,31,0,10
2016-06-01 03:00:00,2,5,3,4,16,36,36,85,241,24,...,7,0,1,44,0,13,4,51,1,0
2016-06-01 04:00:00,1,8,3,6,26,27,46,54,129,11,...,4,0,0,0,2,23,3,33,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-30 19:00:00,116,190,135,132,395,308,401,336,496,260,...,2,44,4,297,311,104,9,142,96,1
2016-06-30 20:00:00,104,142,149,141,333,368,390,385,560,247,...,1,27,7,288,344,103,24,209,145,0
2016-06-30 21:00:00,151,162,145,135,359,422,460,541,672,259,...,2,21,9,287,307,185,9,213,142,1
2016-06-30 22:00:00,106,168,103,125,317,476,405,508,578,259,...,3,19,5,358,387,169,12,206,146,0
2016-06-30 23:00:00,85,130,86,113,256,428,483,531,631,210,...,9,0,7,323,110,147,38,173,119,0